doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='main.css')
  body
    div.container
      table
        thead
          tr
            th Name
            th Location
        tbody
        each event, index in events
          tr
            td= event.name
            td= event.location.name